//////////////**** Card mobile first ****///////////////////:

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  border-radius: 1.5625rem;
  margin: 1.3rem;
  background-color: #f6f6f6;
  padding: 2rem;
  /* Tablet*/
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
  }
  /* Desktop */
  @media only screen and (min-width: 1025px) {
  }

  &_article {
    flex: 1 0 30%;
    min-width: 250px;
    max-width: 521px;
    position: relative;
    border-radius: 10px;
    width: 100%;
  }

  &_cover {
    height: 100%;
    min-height: 15.25rem;
    max-height: 521px;
    border-radius: 0.625rem;
  }

  &_title {
    position: absolute;
    color: white;
    border-radius: 0.625rem;
    bottom: 0.4rem;
    left: 0.5em;
    font-size: 1.125rem;
    font-weight: 500;
    /* Tablet*/
    @media only screen and (min-width: 601px) and (max-width: 1024px) {
      font-size: 1.35rem;
    }
    @media only screen and (min-width: 1025px) {
      font-size: 1.65rem;
    }
  }
}
