.Banner {
  position: relative;
  height: 6.9375rem;
  margin: 0 auto 2.37rem;
  padding: 1.3rem;
  /*Desktop*/
  @media only screen and (min-width: 1025px) {
    width: 100%;
    margin-bottom: 10rem;
  }
  &__img {
    height: 6.9375rem;
    border-radius: 0.625rem;

    /*Desktop*/
    @media only screen and (min-width: 1025px) {
      border-radius: 17px;
      height: 13rem;
    }
  }

  &__infos {
    position: absolute;
    color: white;
    z-index: 99;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    top: 3rem;
    left: 2.5rem;
    width: 13.5rem;
    background-color: transparent;
    /*tablet*/
    @media only screen and (min-width: 601px) and (max-width: 1024px) {
      font-size: 1.8rem;
      width: 27.5rem;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    /*Desktop*/
    @media only screen and (min-width: 1025px) {
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3rem;
      font-style: normal;
      font-weight: 500;
      width: 44rem;
    }
  }
}
