.card {
    position: relative;
    display: flex;
    flex-direction: column;

}

.card_article {
    border-radius: 10px;
    width: 100%;
    padding: 0 1.3rem 0;
    transition: transform 0.5s ease-in;
    transform: perspective(400px) translateZ(0px);

}
.card_article:hover{
    transform: perspective(400px) translateZ(30px);

}
.card_cover {
    height: 15.9375rem;
    border-radius: 0.625rem;
}

.card_title {
    z-index: 99;
    position: relative;
    color: white;
    font-weight: 500;
    left: 0;
    bottom: 3.2rem;
    padding-left: .5rem;
    padding-top: .1rem;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 223, 0.1) 0%, rgba(255, 212, 255, 0.70) 100%);
    height: 3rem;
    border-radius: 10px;

}



@media only screen and (min-width: 601px) and (max-width: 1024px){
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Desktops */
@media only screen and (min-width: 1025px) {
    .card {
        background-color: #f6f6f6;
        border-radius: 1.5625rem;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
        padding: 2rem;
        margin: 3rem 1.4rem 17rem ;
    }


    .card_title {
        position: relative;
        color: white;
        font-size: 18px;
        font-weight: 500;
    }

}

