
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,100&family=Shrikhand&display=swap');

:root {
    --gray: rgba(246, 246, 246, 1);
    --red: rgba(255, 96, 96, 1);
}
body{
    font-family: "Montserrat", sans-serif;
    background-color: #ffffff;
    min-width: 320px;
    margin: auto;


}

* {
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
}
img{
    object-fit: cover;
    width: 100%;
    overflow: hidden;
}